@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-5xl mx-auto px-4;
  }
  .card {
    @apply bg-background-light rounded-lg shadow-lg text-font-400 p-4;
  }
}


.recharts-default-tooltip {
  background-color: black !important;
  border: solid 1px white !important;
  outline: none;
}